rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /test_results/{document} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if false;
    }
  }
}
